<div #photoContainer class="photo-container rounded" (mouseover)="mouseOver()" (mouseout)="mouseOut()">


  <img alt="{{gridMedia.media.name}}" #img [src]="thumbnail.Src"
       (load)="loaded=true"
       [class.loading]="!loaded"
       *ngIf="thumbnail.Available">

  <app-gallery-grid-photo-loading
    [error]="thumbnail.Error"
    [animate]="thumbnail.loading"
    *ngIf="!thumbnail.Available">
  </app-gallery-grid-photo-loading>


  <div *ngIf="gridMedia.isVideo()" class="video-indicator">
    {{gridMedia.Video.metadata.duration  | duration}}
    <ng-icon name="ionVideocamOutline"></ng-icon>
  </div>

  <div *ngIf="gridMedia.isLivePhoto()" class="live-photo-indicator">
    LIVE
  </div>

  <!-- AI-generated badge (top-right, mirrors the folder favorite position) -->
  <div *ngIf="isAI" class="ai-badge" title="AI generated" i18n-title>
    <ng-icon name="tablerSparkles"></ng-icon><span>AI</span>
  </div>

  <!-- Media buttons -->
  <div class="media-buttons" *ngIf="mediaButtons.length > 0">
    <button *ngFor="let button of mediaButtons"
            class="media-button"
            [class.always-visible]="button.alwaysVisible"
            [class.no-click]="!button.apiPath"
            [title]="button.name"
            (click)="onMediaButtonClick(button, $event)">
      <svg xmlns="http://www.w3.org/2000/svg"
           class="media-button-icon"
           fill="currentcolor"
           [attr.viewBox]="button.svgIcon.viewBox || '0 0 512 512'"
           [innerHtml]="button.svgIcon.items | safeHtml">
      </svg>
    </button>
  </div>
</div>
