<div id="controllers-container" #root>
  <div class="controls controls-folder-nav" *ngIf="activePhoto"
       [class.dim-controls]="controllersDimmed">
    <button type="button" class="folder-nav-btn" [disabled]="!siblingFolderService.hasPrev"
            (click)="goPrevFolder()" title="Previous folder" i18n-title>
      <ng-icon name="ionChevronBackOutline"></ng-icon><span i18n>Prev folder</span>
    </button>
    <button type="button" class="folder-nav-btn" [disabled]="!siblingFolderService.hasNext"
            (click)="goNextFolder()" title="Next folder" i18n-title>
      <span i18n>Next folder</span><ng-icon name="ionChevronForwardOutline"></ng-icon>
    </button>
  </div>


  <div id="swipeable-container"
       (swipeleft)="zoom == 1 && nextPhoto.emit()"
       (swiperight)="zoom == 1 && previousPhoto.emit()"
       (swipeup)="zoom == 1 && closed.emit()"
       (tap)="tap($event)"
       (pan)="pan($any($event))"
       (wheel)="wheel($event)"
       (click)="onMediaClick()">

    <div class="faces-container"
         [style.top.px]="photoFrameDim.height/2 + drag.y"
         [style.left.px]="photoFrameDim.width/2 + drag.x"
         [style.width.px]="faceContainerDim.width* zoom"
         [style.height.px]="faceContainerDim.height* zoom"
         *ngIf="facesEnabled && activePhoto && activePhoto.gridMedia.Photo.metadata.faces && activePhoto.gridMedia.Photo.metadata.faces.length > 0">
      <ng-container *ngIf="searchEnabled">
        <a
          class="face"
          [routerLink]="['/search', getPersonSearchQuery(face.name)]"
          [style.top.%]="face.box.top / activePhoto.gridMedia.Photo.metadata.size.height*100"
          [style.left.%]="face.box.left / activePhoto.gridMedia.Photo.metadata.size.width*100"
          [style.height.%]="face.box.height / activePhoto.gridMedia.Photo.metadata.size.height*100"
          [style.width.%]="face.box.width / activePhoto.gridMedia.Photo.metadata.size.width*100"
          *ngFor="let face of activePhoto.gridMedia.Photo.metadata.faces">
          <div class="face-box"
               [class.controls-nodim]="lightboxService.facesAlwaysOn"></div>
          <span class="face-name"
                [class.controls-nodim]="lightboxService.facesAlwaysOn">{{ face.name }}</span>
        </a>
      </ng-container>
      <ng-container *ngIf="!searchEnabled">
        <div
          class="face"
          [style.top.%]="face.box.top / activePhoto.gridMedia.Photo.metadata.size.height*100"
          [style.left.%]="face.box.left / activePhoto.gridMedia.Photo.metadata.size.width*100"
          [style.height.%]="face.box.height / activePhoto.gridMedia.Photo.metadata.size.height*100"
          [style.width.%]="face.box.width / activePhoto.gridMedia.Photo.metadata.size.width*100"
          *ngFor="let face of activePhoto.gridMedia.Photo.metadata.faces">
          <div class="face-box"
               [class.controls-nodim]="lightboxService.facesAlwaysOn">
          </div>
          <span class="face-name"
                [class.controls-nodim]="lightboxService.facesAlwaysOn"
          >{{ face.name }}</span>
        </div>
      </ng-container>
    </div>


  </div>

  <div [class.dim-controls]="controllersDimmed" class="navigation-arrow navigation-arrow-left highlight rounded-end"
       *ngIf="navigation.hasPrev && zoom == 1" title="key: left arrow" id="leftArrow" i18n-title
       (click)="previousPhoto.emit()">
    <ng-icon name="ionChevronBackOutline"></ng-icon>
  </div>
  <div [class.dim-controls]="controllersDimmed" class="navigation-arrow navigation-arrow-right highlight rounded-start"
       *ngIf="navigation.hasNext && zoom == 1" title="key: right arrow" id="rightArrow" i18n-title
       (click)="nextMediaManuallyTriggered()">
    <ng-icon name="ionChevronForwardOutline"></ng-icon>
    <canvas
      *ngIf="slideShowRunning"
      #canvas width="55px" height="55px"></canvas>

  </div>
  <div [class.dim-controls]="controllersDimmed" class="controls controls-zoom row mb-3" *ngIf="Zoom > 1">
    <div class="col-1 col-md-4">
      <ng-icon name="ionRemoveOutline" class="float-end highlight"
               (click)="zoomOut()" i18n-title title="Zoom out, key: '-'"></ng-icon>
    </div>
    <input type="range"
           [(ngModel)]="Zoom" min="1" [max]="MAX_ZOOM" step="0.1"
           value="1" class="col-10 col-md-4 zoom-progress rounded ">
    <div class="col-1 col-md-4">
      <ng-icon name="ionAddOutline" class="float-start highlight"
               (click)="zoomIn()" i18n-title title="Zoom in, key: '+'"></ng-icon>
    </div>
  </div>

  <div [class.dim-controls]="controllersDimmed" class="controls controls-playback"
       *ngIf="zoom == 1 && activePhoto && activePhoto.gridMedia.isPhoto()">
    <div class="controls-background rounded-start-top pe-1 pb-1">
      <ng-icon
        *ngIf="slideShowRunning"
        name="ionPauseOutline"
        class=" highlight control-button button-active me-2 mb-2"
        (click)="pauseClicked()"
        title="Pause" i18n-title></ng-icon>

      <ng-icon
        *ngIf="!slideShowRunning"
        name="ionPlayOutline"
        class="highlight control-button me-2 mb-2"
        (click)="playClicked()"
        title="Auto play" i18n-title></ng-icon>
    </div>
  </div>

  <div [class.dim-controls]="controllersDimmed" class="controls controls-big-play mb-3"
       *ngIf="activePhoto && activePhoto.gridMedia.isVideo() && mediaElement.Paused">
    <ng-icon name="ionPlayOutline"></ng-icon>
  </div>

  <div class="controls controls-video row mb-3" *ngIf="activePhoto && activePhoto.gridMedia.isVideo()">
    <div class="col-1">
      <ng-icon [name]="!mediaElement.Paused ? 'ionPauseOutline' :'ionPlayOutline'"
               (click)="mediaElement.playPause()"></ng-icon>
    </div>
    <input type="range" [(ngModel)]="mediaElement.VideoProgress"
           min="0" max="100" step="0.1" class="col video-progress rounded">

    <div class="col-1">
      <ng-icon [name]="mediaElement.Muted ? 'ionVolumeMuteOutline' :'ionVolumeMediumOutline'"
               (click)="mediaElement.mute()"></ng-icon>
    </div>
    <input type="range"
           [(ngModel)]="mediaElement.VideoVolume" min="0" max="1" step="0.1"
           value="1" class="col-2 col-md-1 volume rounded">
  </div>


</div>
