<a class="button btn btn-secondary"
   [routerLink]="['/gallery', getDirectoryPath()]"
   [queryParams]="queryService.getParams()"
   style="display: inline-block;">


  <div class="photo-container rounded overflow-hidden"
       [style.width.px]="size"
       [style.height.px]="size">
    <div class="photo"
         *ngIf="thumbnail && thumbnail.Available"
         [style.background-image]="getSanitizedThUrl()"></div>

    <ng-icon *ngIf="!thumbnail || !thumbnail.Available" name="ionFolderOutline" class="no-image"></ng-icon>

    <button class="fav-toggle" type="button"
            [class.active]="isFavorite()"
            (click)="toggleFavorite($event)"
            [attr.aria-label]="isFavorite() ? 'Remove favorite' : 'Add favorite'">
      <ng-icon [name]="isFavorite() ? 'ionStar' : 'ionStarOutline'"></ng-icon>
    </button>
  </div>
  <!--Info box -->
  <div class="info rounded-bottom">
    <div class="directory-name">{{directory.name}}</div>

  </div>
</a>

